
/* -------------------------------------------------------Background Image / Images */


.img-fluid {
    background-image: url(/assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 300px;
}


/* -------------------------------------------------------Navigation Bar */

.nav {
    position: fixed;
    z-index: 1;
}

.nav-item a {
    color: #fafafa;
}

.nav-item a:hover {
    color: orange;
}

.menucontainer {
    padding-left: 60%;
}

/* ------------------------Dropdown Menu */

.dropdown {
    width: auto;
    position: relative;
}

.dropdownmenu {
    list-style: none;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    z-index: -1;
    transform: translateY(-125%);
    transition: transform .5s ease-in;
    
}

.dropdownitem {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: block;
    background-color: transparent;
    padding: 10px;
    
}

.dropdown:hover {
    background-color: transparent;
}

.dropdown:hover .dropdownmenu {
    transform: translateY(0px);
}

.dropdownLink {
    color: #fafafa;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}


/* -------------------------------------------------------Text Headings & paragraphs*/



.name {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: #fafafa;
    text-align: center;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fafafa;
    text-align: center;
}

/* -------------------------------------------------------Colors */

body {
    background-color: #000;
}

.fa {
    color: #fafafa;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0 auto;
}

.fa:hover {
    color: orange;
}

.text-footer {
    color: #fafafa;
    text-align: center;
    font-weight: 100;
}

/* -------------------------------------------------------Buttons */

.btn {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    color: #fafafa;
    border-color: #fafafa;
    margin: 0 auto;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.btn:hover {
    color: #fafafa;   /* this is an override of the hvr-grow animation for home page buttons that is resetting the colour to black */
}


/* -------------------------------------------------------Paddings & Margins */

/*.button-container,*/            /* ------ Older Button Code Idea ------ */
.title-container {
    padding-top: 15%;
}

/*.button-container {*/
/*    padding-left:25px;*/
/*}*/    /* ------ Older Button Code Idea ------ */

.row {
    margin-right: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* -------------------------------------------------------Footer*/

.footer {
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: black;
    padding-right: 0;
    padding-left: 0;
    padding-top: 25px;
}

.list-inline-item {
    text-align: center;
}


/* -------------------------------------------------------------------------about*/

.about-container {
    position: relative;
    height: 315px;
    padding-top: 60px;
    padding-bottom: 25px;
}

/*.about-background {*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    height: auto;*/
/*    background-size: cover;*/
/*    background-color: black;*/
/*}*/

.about-text {
    float: right;
    background-color: #000;
    color: #fafafa;
    font-family: "Roboto" sans-serif;
    text-align: left;
    padding: 30px,40px;
}

.about-video {
    background-size: cover;
    text-align: center;
    float: left;
    filter: grayscale(100%) brightness(125%)
}

.about-heading {
    padding-left: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #fafafa;
    
}

.about-paragraph {
    padding-left: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* -------------------------------------------------------Fixes*/

.hvr-grow {
    display: block;   /* this code fixes the position of the Name Title  */
}

a:hover {
    text-decoration: none;  /* this code fixed an issue i was having where the hover was giving a blue underline from bootstrap for <a> elements */
}

li {
 list-style: none;
}