/* CSS Contents */

/* --- 1 ) Background Image/ Logo */
/* --- 2 ) Media Queries */
/* --- 3 ) Style Fixes */
/* --- 4 ) Main Buttons*/
/* --- 5 ) Responsive Toggle Button */
/* --- 6 ) Navigation Bar Responsive */
/* --- 7 ) Navigation Bar Main */
/* --- 8 ) Headings and Paragraphs */
/* --- 9 ) About Section (About & All Rest of Content Original) */
/* --- 10 ) Testimonials */
/* --- 11 ) Storytelling - Home Section*/
/* --- 12 ) BeHeard - Home Section*/
/* --- 13 ) Contact */
/* --- 14 ) Footer*/
/* --- 15 ) Schools Page*/
/* --- 16) Mexican Tales Page*/
/* --- 17) Performances Page*/
/* --- 18) End*/





/* -------------------------------------------------------Background Image / Logo */

.img-fluid {
    background-image: url(../images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 15%;
}

.logo {

    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    color: orange;
    float: left;
    position: fixed;
    z-index: 1;
    padding-left: 25px;
    padding-top: 10px;
}

.logo-sub {

    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: orange;
    float: left;
    position: fixed;
    z-index: 1;
    padding-left: 25px;
    padding-top: 43px;

}

/* ------------------------Nav Bar Responsive Behaviour Media Queries */

@media (max-height: 60px) {
    .logo .sublogo .nav {
        background-color: #000;
    }
}

@media (max-width:720px) {
    .nav {
        display: none;
    }
}


@media (min-width:720px) {
    .fa-bars {
        display: none;
    }
}

/* -------------------------------------------------------Style Fixes*/

a:hover {
    text-decoration: none;
    /*this code fixed an issue i was having where the hover was giving a blue underline from bootstrap for <a> elements */
}

li {
    list-style: none;
}

/* --------------------------------------------------------------------Main Buttons*/

.btn-main {
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-main:hover {
    color: #fafafa;
    background-color: #004380;
    border-color: #fafafa;
}



/* ------------------------Responsive Toggle Button ------ */

/*----------hamburger/toggle behaviour ---------*/
.nav-toggle:checked~nav-responsive {
    display: block;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 165, 0, 0.9);
}

/*----------hidden checkbox ---------*/
.nav-toggle {
    display: none;
}

/*----------hamburger label position ---------*/
.nav-toggle-label {
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 15px;
    z-index: 2;
}

/*----------hamburger icon positions ---------*/
.fa-bars {
    padding-top: 10px;
}

/* -------------------------------------------------------Navigation Bar Responsive */

/*----------Hidden Nav for Hamburger Menu ---------*/

nav-responsive {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 100px;
    z-index: 1;
}

/*----------Font Color Change for Responsive Menu---------*/

.nav-item-responsive a {
    color: #fafafa;
}

.nav-item-responsive a:hover {
    color: #000;
}

.dropdownmenu-responsive {
    bottom: 0;
    left: 0;
    list-style: none;
    position: absolute;
    text-align: left;
    z-index: 1;
    transform: translateX(-400%);
    transition: transform .5s ease-in;

}

.dropdown-responsive:hover .dropdownmenu-responsive {
    transform: translateX(25px);
    background-color: orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: static;
}

/* -------------------------------------------------------Navigation Bar Main */

.nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 100px;
    z-index: 1;
}

.nav-item a {
    color: orange;
}

.nav-item a:hover {
    color: #fafafa;
}


/* ------------------------Dropdown Menu Main */

.dropdown {
    position: relative;
}

.dropdownmenu {
    list-style: none;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    z-index: -1;
    transform: translateY(-150%);
    transition: transform .5s ease-in;

}

.dropdownitem {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: block;
    background-color: transparent;
    padding: 10px;

}

.dropdown:hover .dropdownmenu {
    transform: translateY(0px);
    background-color: orange;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dropdownLink {
    color: #fafafa;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.dropdownLink:hover {
    color: #000;
}


/* -------------------------------------------------------Text Headings & paragraphs*/

.name {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: #fafafa;
    text-align: center;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fafafa;
    text-align: center;
}

.content-heading {
    position: relative;
    padding-top: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #fafafa;

}

.content-paragraph {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-right: 35px;
}

/* ------------------------------------------------------- Body Background Color  */

body {
    background-color: #000;
    /*--!important--*/
}

/* -------------------------------------Font Awesome Icon Behaviour */

.fa {
    color: #fafafa;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0 auto;
}

.fa:hover {
    color: orange;
}


/* -------------------------------------------------------Paddings & Margins */

.title-container {
    padding-top: 15%;
    padding-bottom: 100px
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}



/* -------------------------------------------------------------------------Text and Paragraphs (About Original) Section*/

.box-about {
    display: block;
    height: .5px;
    width: 75%;
    background-color: orange;
    margin-bottom: 15px;
}

.about-container {
    padding: 35px;
    position: relative;
}

.about-text {
    position: relative;
    float: right;
    font-size: 14px;
    color: #fafafa;
    font-family: "Roboto" sans-serif;
    text-align: left;
}

.about-video {
    position: relative;
    text-align: center;
    padding-top: 35px;
    filter: grayscale(100%) brightness(125%)
}

.content-heading {
    position: relative;
    padding-top: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #fafafa;

}

.content-paragraph {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding-right: 35px;
}

/* -------------------------------------------------------------------------Testimonials*/

.testimonials {
    padding: 35px;
    position: relative;
    background-color: #000;
    text-align: center;
}

.carousel-text {
    position: relative;
    color: orange;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 100;
    font-style: italic;

}

.carousel-author {
    position: relative;
    color: orange;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    text-align: center;

}

.carousel-item {
    position: relative;
}



/* -------------------------------------------------------Storytelling - Home Section*/



.storytelling-heading {
    position: relative;
    text-align: center;
    padding-left: 0;
}

.box-storytelling {
    display: block;
    height: .5px;
    width: 75%;
    margin: 0 auto;
    background-color: orange;
    margin-bottom: 15px;
}

.storytelling-headers {

    padding-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: orange;
    text-align: left;
    letter-spacing: 6px;
    padding-left: 15px;

}

.storytelling-text {
    position: relative;
    padding: 15px;
    font-size: 14px;
    color: #fafafa;
    font-family: "Roboto" sans-serif;
    font-weight: 300;
    text-align: left;
}

.jumbotron {
    border-style: solid;
    border-color: orange;
    background-color: transparent;
    margin: 25px;
}

.fa-flag, .fa-star, .fa-graduation-cap::before {
    color: orange;
    padding-left: 25px;
}

/* -------------------------------------------------------Storytelling End Home*/

/* -------------------------------------------------------BeHeard Home Section*/

.section-container-beheard {
    position: relative;
    padding: 35px;
    background-color: #004380;
    border-top: solid .5px orange;
}

.beheard {
    text-align: center;
}

.beheard-logo {
    margin: 0 auto;
    height: 50px;
    margin-top: 25px;
}

.beheard-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fafafa;
    letter-spacing: 4px;
    padding-top: 25px;
}

.beheard-image {
    max-width: 100%;
    position: relative;
    border-style: solid;
    border-color: #fafafa;
    margin-top: 35px;
}

/* -------------------------------------------------------BeHeard Home Section End*/

/* -------------------------------------------------------Contact*/

.section-container-contact {
    padding: 35px;
    padding-bottom: 100px;
    border-top: solid .5px orange;
    background-color: #000;
}

.contact-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    margin-top: 25px;
}

.contact-subtitle {
    padding-bottom: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

.box-footer {
    display: block;
    height: .5px;
    width: 75%;
    margin: 0 auto;
    background-color: orange;
    margin-bottom: 15px;
}

.form-container {
    padding-left: 50px;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-heading,
.contact-paragraph {
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    padding-left: 25px;
    text-align: center;
}

#yourmessage,
#fullname,
#phonenumber,
#emailaddress {
    background-color: transparent;
    color: orange;
    border-color: #fafafa;
}

button {
    margin-top: 15px;
}


/* -------------------------------------------------------Footer*/

.section-container-footer {
    position: fixed;
    bottom: 0;
    background-color: #000;
    border-top: solid .5px orange;
    padding-top: 15px;
}

.list-inline-item {
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.footer-mail {
    color: #fafafa;
}

.footer-mail:hover {
    color: orange;
}

.text-footer {
    color: #fafafa;
    text-align: center;
    font-weight: 100;
}

.top a {
    display: block;
    color: #fafafa;
    font-weight: 400;
    text-transform: uppercase; 
}

/* --------------------------------------------------------------------------------Schools Page*/

/* -------------------------------------------------------Why Storytelling*/

.schools-image {
    padding: 25px 25px 0px 25px;
    max-width: 100%;
    position: relative;
}

.caption {
    color: #808080;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.learning-list {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #fafafa;
    list-style-position: outside;
    list-style: square;
}

.feedback-heading {
    font-family: 'Amatic SC', cursive;
    position: relative;
    text-align: center;
    font-size: 60px;
    color: #fafafa;
    padding-bottom: 35px;
}

/* -------------------------------------------------------School Pages Feedback Carousel*/

.section-container-feedback-schools {
    background-color: orange;
    color: #fafafa;
}

.carousel-inner {
    padding: 0px 50px 50px 50px;
}

.carousel-text-feedback {
    position: relative;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 100;
    font-style: italic;

}

.carousel-author-feedback {
    position: relative;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
}


/* --------------------------------------------------------------------------------Mexican Tales Page*/

.mexican-video {
    position: relative;
    text-align: center;
    padding: 35px;
}

/* --------------------------------------------------------------------------------Performances*/

.content-sub-heading {
    position: relative;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    color: #fafafa;
    letter-spacing: 4px;
    margin: 0 auto;
}


/* --------------------------------------------------------------------------------END*/

.fa-arrow-circle-down {
    font-size: 36px;
    display: block;
    text-align: center;
}