/* -------------------------------------------------------Background Image / Logo */

.img-fluid {
    background-image: url(assets/images/background-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100vh;
}

.logo {
    
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    color: orange;
    float: left;
    position: fixed;
    z-index: 1;
    padding-left: 25px;
}

/* -------------------------------------------------------Navigation Bar */

.nav {
    position: fixed;
    z-index: 1;
}

.nav-item a {
    color: orange;
}

.nav-item a:hover {
    color: #fafafa;
}

.menucontainer {
    padding-left: 60%;
}

/* ------------------------Dropdown Menu */

.dropdown {
    width: auto;
    position: relative;
}

.dropdownmenu {
    list-style: none;
    padding-left: 10px;
    position: absolute;
    text-align: left;
    z-index: -1;
    transform: translateY(-125%);
    transition: transform .5s ease-in;

}

.dropdownitem {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    display: block;
    background-color: transparent;
    padding: 10px;

}

.dropdown:hover {
    background-color: transparent;
}

.dropdown:hover .dropdownmenu {
    transform: translateY(0px);
}

.dropdownLink {
    color: #fafafa;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}


/* -------------------------------------------------------Text Headings & paragraphs*/

.name {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    color: #fafafa;
    text-align: center;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #fafafa;
    text-align: center;
}

/* -------------------------------------------------------Colors */

body {
background-color: red;
}

.fa {
    color: #fafafa;
    font-size: 20px;
    letter-spacing: 10px;
    margin: 0 auto;
}

.fa:hover {
    color: orange;
}

.text-footer {
    color: #fafafa;
    text-align: center;
    font-weight: 100;
}

/* -------------------------------------------------------Buttons */

.btn {

    display: inline-block;
    border-radius: 100px;
    color: #fafafa;
    border-color: #fafafa;
    background-color: #004380;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

/*.btn:hover {*/
/*    color: #fafafa;*/
/*    background-color: blue;*/
    /* this is an override of the hvr-grow animation for home page buttons that is resetting the colour to black */
/*}*/



/* -------------------------------------------------------Paddings & Margins */

.title-container {
    padding-top: 15%;
    padding-bottom: 15%;
}

.row {
    margin-right: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}



/* -------------------------------------------------------------------------About Section*/

.about-container {
    padding-bottom: 25px;
    position: relative;
}

.about-text {
    position: relative;
    float: right;
    background-color: #000;
    color: #fafafa;
    font-family: "Roboto" sans-serif;
    text-align: left;
}

.about-video {
    position: relative;
    background-color: #000;
    text-align: center;
    padding-top: 35px;
    filter: grayscale(100%) brightness(125%)
}

.about-heading {
    position: relative;
    padding-top: 25px;
    padding-left: 25px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    color: #fafafa;

}

.about-paragraph{
    position: relative;
    padding-left: 25px;
    padding-right: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* -------------------------------------------------------------------------Testimonials*/

.testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color: #000;
    text-align: center;
}

.carousel-text {
    position: relative;
    color: orange;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    
}

.carousel-author {
        position: relative;
    color: orange;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    
}

.carousel-item {
    position: relative;
}

/* -------------------------------------------------------Footer*/

.footer {
    height: 60px;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: solid .5px orange;
    padding-top: 15px;
}

.list-inline-item {
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/* -------------------------------------------------------Fixes*/

.hvr-grow {
    display: block;
    /* this code fixes the position of the Name Title  */
}

a:hover {
    text-decoration: none;
    /* this code fixed an issue i was having where the hover was giving a blue underline from bootstrap for <a> elements */
}

li {
    list-style: none;
}

/* -------------------------------------------------------BeHeard*/
.beheard {
text-align: center;
}

.beheard-logo {
    /* needs replacing */
}


.beheard-title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #fafafa;
    letter-spacing: 6px;
    padding-top: 50px;
}


.beheard-image {
    max-width: 100%;
    position: relative;
    background-color: #000;
    text-align: center;
    padding: 35px;
}

.beheard-paragraph {
    position: relative;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

/* -------------------------------------------------------Contact*/

.contact-title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
}

.contact-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.form-container {
    padding-left: 50px;
    padding-right: 50px;
}

.form-control {
    margin-top: 5px;
    margin-bottom:5px;
}

#yourmessage, #fullname, #phonenumber, #emailaddress {
    background-color: transparent;
    color: #fafafa;
    border-color: #fafafa;
}



